.portfolio
  background: $secondary-color url(../img/portfolio/points.jpg) repeat-y //--center left--//
  background-size: 50%
  padding-top: 76px
  padding-bottom: 87px
  &__title 
    padding-bottom: 93px
    margin: auto
    line-height: 45px
    font-size: 30px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slaider
  &__image
    margin: auto
    padding-left: 10px      
  
