@font-face {
  font-family: 'Museo Sans Light';
  src: url("/webstart/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("/webstart/src/fonts/MuseoSanscyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/webstart/src/fonts/MuseoSanscyrl/MuseoSansCyrl-300.woff") format("woff"), url("/webstart/src/fonts/MuseoSanscyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("/webstart/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("/webstart/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/webstart/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("/webstart/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light' , sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 780px;
  }
}

@media (min-width: 992px) {
  .button:hover {
    background-color: #ffe04d;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 16px 30px;
  outline: none;
}

.section {
  padding-bottom: 10px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  margin-buttom: 19px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 56%;
      flex-basis: 56%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 36px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__images {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-list__text {
  max-width: 240px;
  line-height: 24px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 20px;
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
  }
}

.offer {
  background: url("../img/offer/707_kuhna.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding-top: 50px;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
  margin-bottom: 94px;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  font-size: 15px;
  line-height: 15px;
}

.offer__span {
  margin-bottom: 10px;
  margin-right: 10px;
}

.offer__call {
  max-width: 230px;
  line-height: 23px;
}

.offer__tell {
  font-weight: 400;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__span {
    margin-top: 18px;
  }
  .offer__button {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .offer__button {
    font-size: 14px;
    padding: 19px 60px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url(../img/portfolio/points.jpg) repeat-y;
  background-size: 50%;
  padding-top: 100px;
  padding-bottom: 99px;
}

.portfolio__title {
  padding-bottom: 99px;
  max-width: 786px;
  margin: auto;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slaider__image {
  margin: auto;
  padding-left: 10px;
}

.price__title {
  margin: auto;
  max-width: 515px;
  padding-top: 100px;
  margin-bottom: 58px;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 45px;
}

.price__subtitle {
  margin: auto;
  text-align: center;
  font-family: 'Museo Sans Light' , sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 58px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2;
  transition: 0.2;
}

.card__foto {
  display: block;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price__card {
    margin: auto;
    margin-bottom: 30px;
  }
}

.step {
  margin-bottom: 98px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/step/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 153px;
  font-weight: 400;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .step {
    margin-bottom: 30px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */